*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ----------------- index.html --------------------*/

/* Header */

header{
    background-color: #2e2e2e;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    

}

.logo__pagina{
    font-weight: bold;
    letter-spacing: 20px;
    padding-left: 90px;
    transition: 0.8s;

}

.logo__pagina a:hover{
    color: rgb(129, 129, 129);
    font-size: 46px;
    transition: all 0.5s;
}

.logo__pagina a{
    color: white;
}


header ul{ 
    display: flex;
    justify-content: space-around;

}

header nav{
    width: 50%;
    font-size: 25px;
}

ul li a{
    color: white;
    transition: 0.5s;

}

ul li a:hover{
    color: rgb(129, 129, 129);
    font-size: 30px;



}



/* Main */

main{
    background-color: rgb(245, 245, 245);
}


.portadabott{
    display: flex;
    justify-content: space-around;
    height: 500px;
    
}

.botonesportada{
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
    position: relative;
    bottom: 150px;
    height: 40px;

}

.boton__portada{
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 1px 15px;
    border-radius: 40px;
    background-color: #2e2e2e;
    border-color: white;
    transition: 0.3s;

}

.boton__portada:hover{
    color:#2e2e2e;
    background-color: white;
    border-color: #2e2e2e;
    font-size: 20px;
    

}

.ofertas__titulo{
    text-align: center;
    padding: 25px;
    font-size: 40px;
    color: #000000;
}

.preciotach{
    font-size: 13px;
}



.tarjetas{
    border: 2px solid black;
    width: 180px;
    height: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.botn{
    color: white;
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 40px;
    padding: 1px 15px;
}

.botn:hover{
    background-color: white;
    color: black;
}

.slider1{
    display: flex;
    gap: 3px;
    justify-content: center;
    margin-bottom: 30px;
    
}

/* Footer */

footer{
    background-color: #2e2e2e;
    color: white;
    display: flex;
    padding: 10px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.contenido__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.iconos__footer{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;

}

.iconos__footer li{
    margin: 0 30px;
}


/* --------- Productos ------------ */


.portada__pag{
    color: rgb(255, 255, 255);
    font-size: 60px;
    border-radius: 0px 0px 15px 15px ;
    text-shadow: 0.1em 0.1em rgb(83, 97, 100);
    font-weight: 500;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
    background-color: rgb(83, 136, 149) ;
    padding: 30px;
    margin: 0 500px;
    display: flex;
    justify-content: center;
}



.cuadro__h-m{
    border: 2px solid rgb(131, 191, 205);
    background-color: rgb(131, 191, 205);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 35px 770px;
}

.prod__tittle{
    font-weight: 600;
    font-size: 30px;
}

.productos__catalogo{
    padding: 10px 530px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.productos__catalogo__nin{
    padding: 50px 530px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.tarjetas__productos{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #999999;
    width: 250px;
    text-align: center;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




/* ----------------- CONTACTO ------------- */

.contacto{
    background-image: url(../assets/Img/contactofondo.jpg);
    height: 89vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.cuadro__form{
    font-size: 25px;
    border: 2px solid rgb(174, 174, 174);
    background-color: rgb(174, 174, 174);
    border-radius: 20px;
    padding: 70px 160px;
    display: flex;
    flex-direction: column;
    margin: 100px 550px; 
}

.botn__contacto{
    color: #696969;
    background-color: white;
    border-radius: 15px;
    font-size: 17px;
    padding: 5px 9px;
    margin-left: 297px;
}

.botn__contacto:hover{
    color: white ;
    background-color: #696969;
}

.form__inputs{
    padding: 10px;
}

.form__inputs input, textarea{
    padding: 20px;
    border-radius: 13px;
    border: #bdbdbd;
    width: 360px;
}

.form__inputs textarea{
    height: 190px;
}


/* ----------------- NOSOTROS -------------- */


.nosotros__cuadro{
    border: 4px solid black;
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 30px;
    width: 700px;
    height: 500px;
    display: flex;

}

.googlemaps{
    border: 1px solid black;
    width: 602px;
    height: 460px;
}

.contenidonosotros{
    padding: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ---------- SECCION RESPONSIVE ------------- */

/* ----------- INDEX ---------------- */

@media(max-width:480px){
    header{
        background-color: #2e2e2e;
        color: white;
        width: 100%;
        display: flex;
        height: 166px;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo__pagina{
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 20px;
        font-size: 60px;
    }
    
    .logo__pagina a{
        color: white;
    }
    
    
    .secciones__paginas{ 
        font-size: 20px;
        padding-right: 20px;
        gap: 20px;
    }
    
    header nav{
        width: 100%;
        font-size: 10px;
    }
    
    
    ul li a:hover{
        color: rgb(129, 129, 129);
    
    }
    
    /* Main */
    
    .portadabott{
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow: hidden;
    }
    
    .botonesportada{
        display: flex;
        justify-content: space-evenly;
        margin: 0px 10px;
        position: relative;
        bottom: 150px;
    
    
    }
    
    .boton__portada{
        color: white;
        font-size: 25px;
        font-weight: 500;
        padding: 1px 15px;
        border-radius: 40px;
        background-color: #2e2e2e;
        border-color: white;
        transition: 0.3s;
    
    }
    
    .boton__portada:hover{
        color:#2e2e2e;
        background-color: white;
        border-color: #2e2e2e;
    
    }
    
    .ofertas__titulo{
        text-align: center;
        padding: 25px;
        font-size: 40px;
        color: #000000;
    }
    
    .preciotach{
        font-size: 13px;
    }
    
    .tarjetas{
        border: 2px solid black;
        width: 180px;
        height: 300px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .botn{
        color: white;
        border: 3px solid rgb(0, 0, 0);
        background-color: black;
        border-radius: 40px;
        padding: 1px 15px;
    }
    
    .botn:hover{
        background-color: white;
        color: black;
    }
    
    .slider1{
        display: flex;
        justify-content: flex-start;
        gap: 3px;
        margin-bottom: 30px;
        overflow: auto;
        
    
} 

/* ------------ footer ------------- */

.contenido__footer{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}




/* ----------- NOSOTROS ----------- */

.portada__pag{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 0.1em 0.1em rgb(83, 97, 100);
    font-weight: 500;
    background-color: rgb(83, 136, 149) ;
    padding: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}



.nosotros__cuadro{
    border: 4px solid black;
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    height: 500px;
    display: flex;

}


.googlemaps{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 453px;
    height: 460px;
}

.contenidonosotros{
    width: 100%;
    height: 100%;
    padding: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

/* ---------------- CONTACTO -------------- */

.contacto{
    background-image: url(../assets/Img/contactofondo.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 170% 100%;
    display: flex;
    justify-content: center;
}

.cuadro__form{
    border: 2px solid rgb(174, 174, 174);
    background-color: rgb(174, 174, 174);
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 460px;
    height: 600px;
    flex-direction: column;
    margin: 50px 0px; 


}

.form__inputs{
    padding: 10px;
}

.form__inputs input, textarea{
    padding: 20px;
    border-radius: 13px;
    border: #bdbdbd;
    width: 360px;
}

.form__inputs textarea{
    height: 190px;
}











}