.ofertas__slider {
    display: flex;
    gap: 3px;
    justify-content: center;
    padding: 30px 0px;
    overflow: hidden;
}


@media(max-width:910px){
    .ofertas__slider{
        justify-content: flex-start;
        overflow: auto;
    }
}